/* Colors for the UI/UX
{"Azure X 11 Web Color":"e8f1f3",
    "Dark Cornflower Blue":"2e4771",
    "Space Cadet":"1b305b",
    "Space Cadet 2":"172045",
    "Maximum Yellow Red":"e3b23c"}
*/
/* The following effectively removes the browser presets so we are able to manipulate css from ground 0 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
    font-family: 'Roboto Mono', monospace;
	vertical-align: baseline;
}

body {
    background-color: #222;
    color: #e8f1f3;
}

h1 {
    font-size: xx-large;
    margin: 15px;
    text-align: center;
}

.arena {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
}

.arena-piles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-height: 45vh;
}

.controls {
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
}