/* Removal of browser presets and set overall text family, text color, and background color*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
    font-family: 'Roboto Mono', monospace;
    vertical-align: baseline;
    background-color: #222;
    color: #e8f1f3;
}

h1 {
    font-size: xx-large;
    margin: 15px;
    text-align: center;
}

/* Play area & arena */

.arena {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
}

.arena-piles {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

img {
    max-height: 45vh;
}

/* Current Player display */

.current-player-sign {
    font-size: x-large;
    margin-top: 4vh;
    padding: 25px;
    border-top: #e8f1f3 solid 2px;
}

/* Player controls and displayed win data */

.controls {
    display: flex;
    justify-content: space-between;
}

.controls-wrapper {
    margin-top: 1vh;
    width: 100%;
}

.single-instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    margin-top: 1vh;
}

.profile > p {
    text-align: center;
}

/* Player message center (hidden until animation plays due to opacity 0) */

.message-center {
    margin-top: 1vh;
}

.message {
    padding: 7px;
    opacity: 0;
    font-style: italic;
    text-align: center;
    margin:10px;
}

.valid-slap {
    background-color: green;
    color: greenyellow;
}

.invalid-slap {
    background-color: yellow;
    color:goldenrod;
}

.add-pile {
    background-color: blue;
    color: cyan;
}

.wait-turn {
    background-color: red;
    color: pink;
}

/* Win message */

.win-message {
    opacity: 0;
    position: fixed;
    left: 32vw;
    top: 35vh;
    z-index: 1;
    font-size: xx-large;
    font-style: italic;
    padding: 25px;
    color: greenyellow;
    background-color: green;
}